<!--adapted from: https://bbbootstrap.com/snippets/bootstrap-edit-profile-accounts-setting-template-80240656-->
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/bootstrap.css' %}" />

<head>
    <link rel="stylesheet" href="{% static 'mainApp/accountSettings2s.css' %}" />
</head>
<!--https://getbootstrap.com/docs/5.0/examples/sign-in/?/-->

<body class="text-center" style="color: #6c757d;">
    <main class="form-signin">
        <div class="form-floating">
            <h1 class="h3 mb-3 fw-normal">Please fill in your account settings</h1>
            <form method="post" style="text-align:center; border-radius:12px">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="text-danger p mb-3 fw-normal">One or more fields are invalid.</p>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
{% endblock %}