{% load static %}
{% block content %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'mainApp/css/bootstrap.css' %}"
/>
<head>
    <link rel="stylesheet" href="{% static 'mainApp/accountSettings.css' %}" />
</head>

<!--https://getbootstrap.com/docs/5.0/examples/sign-in/?/-->
<body class="text-center">
    <main class="form-signin">
        <div class="form-floating">
            <h1 class="h3 mb-3 fw-normal">Please Fill In Your Account Settings</h1>
                <form method="post" style="text-align:center; font-family:Helvetica, Arial, SansSerif; border-radius:12px">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-success is-fullwidth is-medium mt-2"type="submit">Submit
                    </button>
                </form>
        </div>
    </main>
</body>
{% endblock %}
