{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/styles.css' %}">
  <title>Django Calendar App</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #81f9c3;">
  <img src="../static/images/tutorme-high-resolution-logo-black-on-transparent-background.png" width="120" height="60"
    alt="" style="margin-right: 2%;">
  <a class="navbar-brand" href="/" style="margin-left: 1%;">
    <h5>Home</h5>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/classes">
          <h5>Add Classes</h5>
        </a>
      </li>
      <!--        <li class="nav-item active">-->
      <!--        <a class="nav-link" href="/tutorsetting">Settings</a>-->
      <!--        </li>-->
      <li class="nav-item active">
        <a class="nav-link" href="/accountDisplay">
          <h5>Account Info</h5>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/tutorCalendar">
          <h5> Calendar</h5>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout">
          <h5>Logout</h5>
        </a>
      </li>
    </ul>
  </div>
</nav>

<body>

  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block script %}
  {% endblock %}
</body>

</html>