{% extends "mainApp/tutorBase.html" %}
{% load static %}
{% block body %}

<!--<ul>-->
<!--        <li><a href="../">Home</a></li>-->
<!--    </ul>-->
<!--<style>-->
<!--  h2 {-->
<!--    color: black;-->
<!--  }-->
<!--  li{-->
<!--      color: black;-->
<!--  }-->
<!--</style>-->





    <div class = "container text-center">

      <br>
        <form method="POST">
    {% csrf_token %}
</form>
      <h2 class = "text-center" >Search for a class using the course mnemonic, course number, or course name </h2>
      <br>
      <form method="GET">
          <label class="text-center">
              <input type = "text" name = "name" placeholder="Search..." class = "text-center">
          </label>
          <button type = "submit" class = "btn-danger btn-sm text-center">SEARCH </button>
      </form>
   {% if messages %}
<ul class="messages" style="list-style: none;">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }} text-center"  {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


  </div>
{% endblock %}
<!--https://dev.to/yahaya_hk/how-to-populate-your-database-with-data-from-an-external-api-in-django-398i-->
<!--https://dev.to/yahaya_hk/how-to-populate-your-database-with-data-from-an-external-api-in-django-398i-->