{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'mainApp/home.css' %}" />
</head>
    <div class="row">
        <div class="top">
            <h1 class="h1">Welcome {{ user.first_name }}</h1>
        </div>
        <div class="option">
            <a href="/tutor">
                <button class="button">I'm a tutor</button>
            </a>
        </div>
        <div class="option">
            <a href="/student">
                <button class="button">I'm a student</button>
            </a>
        </div>
    </div>
{% endblock %}