<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TutorMe</title>
    <link rel="stylesheet" href="../static/mainApp/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="../static/mainApp/assets/fonts/simple-line-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand navigation-clean" style="background-color: rgb(129,249,195);"><img
            src="../static/images/tutorme-high-resolution-logo-black-on-transparent-background.png" width="120"
            height="60" alt="" style="margin-right: 2%;"></nav>
    <header class="text-center text-white masthead"
        style="background: url('../static/images/lawn.jpg')no-repeat center center;background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5">Welcome to TutorMe! The one stop solution to your tutoring needs</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <div class="row">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                                <button class="w-100 btn btn-lg btn-success">Sign In</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-people text-success m-auto"></i></div>
                        <h3>Dual Functionality</h3>
                        <p class="lead mb-0">Both Tutors and Students can use TutorMe to make their life easier</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-check text-success m-auto"></i></div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Sign up to Tutor or Schedule Tutoring sessions in just a few clicks</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-star text-success m-auto"></i></div>
                        <h3>Rating system</h3>
                        <p class="lead mb-0">Read reviews and ratings given by fellow students to choose the best tutor
                            that fits your needs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
</html>