{% extends "mainApp/base.html" %}
{% load static %}
{% block body %}
<!--Example Template-->
<!--https://getbootstrap.com/docs/5.0/examples/album/-->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Welcome to the Student Page {{ user.first_name }}!</h2>
            <p class="lead text-muted">Example muted text to let people know what
            they can do next.
            Maybe they can have a list of their classes below like in the form of the template linked in the comment</p>
          </div>
        </div>
    </section>
<!--    <div class="row">-->
<!--        <h1 class="h1">Welcome {{ user.first_name}}</h1>-->
<!--        <h1 class="h1">to the student page</h1>-->
<!--    </div>-->

{% endblock body %}