{% extends "mainApp/studentBase.html" %}
{% load static %}
{% block body %}
<!--Example Template-->
<!--https://getbootstrap.com/docs/5.0/examples/album/-->
    <!-- Welcome text -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Welcome to the Student Page {{ user.first_name }}!</h2>
            <p class="lead text-muted">Example muted text to let people know what
            they can do next.
            Maybe they can have a list of their classes below like in the form of the template linked in the comment</p>
              <p>
                  <a href="/classList" class="btn btn-primary my-2">Find tutors!</a>
              </p>
          </div>
        </div>

        <!-- Thumbnails -->

        <div class="album py-5 bg-light">
            <div class="container">

              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <!-- iterate through classes -->
                {% if info %}
                <ul>
                    <hr>
                        {% for class in info %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">class.classname</text></svg>

                                <div class="card-body">
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                  </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col" id="tags">-->
<!--                            <a href="/classList/{{ class.classnumber }}/"><b>{{ class.subject}} {{class.catalognumber}}:</b> {{class.classname}}</a>-->
<!--                            <hr>-->
<!--                        </div>-->
                        {% endfor %}
                </ul>
                {% else %}
                    <p>No Classes are available</p>
                {% endif %}
              </div>
            </div>
        </div>
    </section>
<!--    <div class="row">-->
<!--        <h1 class="h1">Welcome {{ user.first_name}}</h1>-->
<!--        <h1 class="h1">to the student page</h1>-->
<!--    </div>-->

{% endblock body %}