{% extends "mainApp/tutorBase.html" %}
{% load static %}
{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Welcome to the Tutor Page {{ user.first_name }}!</h2>
            <p class="lead text-muted">Example muted text to let people know what
            they can do next.
            Maybe they can have a list of their classes below like in the form of the template linked in the comment</p>
          </div>
        </div>
    </section>
<!--<head>-->
<!--    <link rel="stylesheet" href="{% static 'mainApp/home.css' %}" />-->
<!--</head>-->
<!--<body>-->
<!--    <ul>-->
<!--        <li><a href="../">Home</a></li>-->
<!--        <li><a href="/tutorsetting">Account Settings</a></li>-->
<!--    </ul>-->
<!--    <div class="container-fluid"></div>-->
<!--    <div class="row">-->
<!--        <h1 class="h1">Welcome {{ user.first_name }}</h1>-->
<!--        <h1 class="h1">to the tutor page</h1>-->
<!--    </div>-->
<!--</body>-->
{% endblock %}