body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    /*background-image: url("../../static/images/lawn.jpg");*/
    background-size: 1900px;
}

.container-fluid {
    height: 30vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.form-signin {
    width: 100%;
    max-width: 500px;
    height: 400px;
    padding: 15px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 20px;
}