.row {
    margin: auto;
    text-align: center;
    display: block;
    height: 30vh;
    background-color: gray;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 8px;
    width: 320px;
    padding: 10px;
}
.option {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}
.h1 {
    font-family: "Helvetica", Arial, SansSerif;
    color: black;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: royalblue;
    color: white;
    border-radius: 8px;
    border-color: royalblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: .4s;
    cursor: pointer;
}
button:hover{
    background-color: #4169a1;
    color: white;
}