body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.container-fluid {
    height: 30vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    /*font-family: "Helvetica", Arial, SansSerif;*/
    /*color: black;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.h3 {
    font-family: "Helvetica", Arial, SansSerif;
    color: black;
    justify-content: center;
    align-items: center;
}
.button1 {
    background-color: white;
    color: royalblue;
    border-radius: 8px;
    border-color: royalblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: .4s;
    cursor: pointer;
}
.button1:hover{
    background-color: royalblue;
    color: white;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}