body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background-image: url("../../static/images/lawn.jpg");
    background-size: 1900px;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*https://getbootstrap.com/docs/5.0/examples/cover/*/
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.container-fluid {
    height: 30vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    /*font-family: "Helvetica", Arial, SansSerif;*/
    /*color: black;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.h3 {
    font-family: "Helvetica", Arial, SansSerif;
    color: black;
    justify-content: center;
    align-items: center;
}
.button1 {
    background-color: white;
    color: royalblue;
    border-radius: 8px;
    border-color: royalblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: .4s;
    cursor: pointer;
}
.btn-lg:hover{
    background-color: white;
    color: #0d6efd;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    height: 180px;
    padding: 15px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 20px;
}