.row {
    margin: auto;
    text-align: center;
    color: white;
    display: block;
    height: 30vh;
    background-color: gray;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 8px;
    width: 320px;
    padding: 10px;
}
.h1 {
    font-family: "Helvetica", Arial, SansSerif;
    color: black;
    justify-content: center;
    align-items: center;
}